function Levelset.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push argument 1
pop this 4
push constant 0
pop this 0
push constant 0
push constant 0
push pointer 0
call Block.new 3
pop this 5
push pointer 0
call Levelset.initBasicGames 1
pop temp 0
push pointer 0
return
function Levelset.initBasicGames 4
push argument 0
pop pointer 0
push constant 65
push constant 5
add
call Array.new 1
pop this 3
push constant 0
pop local 1
push constant 0
pop local 0
push constant 10
pop local 2
push local 2
push constant 2
call Math.divide 2
pop local 3
push local 1
push this 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
push local 1
push this 3
add
push constant 100
push constant 60
push local 0
push local 3
call Util.mod 2
call Math.multiply 2
add
push constant 75
push local 0
push local 3
call Math.divide 2
push constant 1
add
push this 5
call Block.getHeight 1
call Math.multiply 2
add
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push local 1
push this 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP1
push local 0
push local 2
lt
not
if-goto WHILE_END1
push local 1
push this 3
add
push constant 120
push constant 60
push local 0
push local 3
call Util.mod 2
call Math.multiply 2
add
push constant 20
push local 0
push local 3
call Math.divide 2
push constant 1
add
push this 5
call Block.getHeight 1
push constant 50
add
call Math.multiply 2
add
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
push local 1
push this 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP2
push local 0
push local 2
lt
not
if-goto WHILE_END2
push local 1
push this 3
add
push constant 140
push local 0
push local 3
call Math.divide 2
push constant 1
add
call Math.multiply 2
push constant 20
push this 5
call Block.getHeight 1
push constant 10
add
push local 0
push local 3
call Util.mod 2
call Math.multiply 2
add
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 0
push local 1
push this 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP3
push local 0
push local 2
lt
not
if-goto WHILE_END3
push local 1
push this 3
add
push constant 10
push constant 430
push local 0
push local 3
call Math.divide 2
call Math.multiply 2
add
push constant 20
push this 5
call Block.getHeight 1
push constant 10
add
push local 0
push local 3
call Util.mod 2
call Math.multiply 2
add
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push constant 25
pop local 2
push local 2
push constant 5
call Math.divide 2
pop local 3
push constant 0
pop local 0
push local 1
push this 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP4
push local 0
push local 2
lt
not
if-goto WHILE_END4
push local 1
push this 3
add
push constant 10
push constant 110
push local 0
push local 3
call Math.divide 2
call Math.multiply 2
add
push constant 20
push this 5
call Block.getHeight 1
push constant 10
add
push local 0
push local 3
call Util.mod 2
call Math.multiply 2
add
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP4
label WHILE_END4
push local 1
pop this 1
push constant 0
return
function Levelset.getNewRandomLevel 8
push argument 0
pop pointer 0
push constant 0
push constant 0
push pointer 0
call Block.new 3
pop local 6
push this 2
push constant 5
push constant 15
call Random.nextIntRange 3
pop local 0
push local 0
push constant 1
add
call Array.new 1
pop local 5
push constant 0
push local 5
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push constant 1
sub
push local 0
lt
not
if-goto WHILE_END0
push constant 0
not
pop local 7
label WHILE_EXP1
push local 7
not
if-goto WHILE_END1
push constant 0
pop local 7
push this 2
push constant 500
push local 6
call Block.getWidth 1
sub
call Random.nextInt 2
pop local 3
push this 2
push constant 20
push constant 240
push local 6
call Block.getHeight 1
sub
call Random.nextIntRange 3
pop local 4
push constant 1
pop local 2
label WHILE_EXP2
push local 2
push local 1
lt
not
if-goto WHILE_END2
push local 2
push local 5
add
pop pointer 1
push that 0
pop local 6
push local 3
push local 6
call Block.getX 1
sub
call Math.abs 1
push local 6
call Block.getWidth 1
push constant 20
add
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push local 6
call Block.getY 1
sub
call Math.abs 1
push local 6
call Block.getHeight 1
push constant 20
add
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 7
label IF_FALSE1
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP1
label WHILE_END1
push local 1
push local 5
add
push local 3
push local 4
push this 4
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 5
return
function Levelset.getNewLevel 4
push argument 0
pop pointer 0
push this 1
push this 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Levelset.getNewRandomLevel 1
pop local 2
push local 2
return
label IF_FALSE0
push this 0
push this 3
add
pop pointer 1
push that 0
pop local 1
push this 0
push constant 1
add
pop this 0
push local 1
push constant 1
add
call Array.new 1
pop local 2
push constant 0
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push constant 1
sub
push local 1
lt
not
if-goto WHILE_END0
push this 0
push this 3
add
pop pointer 1
push that 0
pop local 3
push local 3
call Block.enable 1
pop temp 0
push local 0
push local 2
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push this 0
push constant 1
add
pop this 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function Levelset.getFirstLevel 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push pointer 0
call Levelset.getNewLevel 1
return
function Levelset.dispose 0
push argument 0
pop pointer 0
push this 3
call Array.dispose 1
pop temp 0
push constant 0
return
